# PyCity Schools Analysis


--- The total number of students relative to the budget does not significantly impact the overall passing percentage. Academic scores fluctuate across different grade levels, and when comparing by grade, female students generally achieve higher reading scores than male students, while math scores remain relatively consistent between genders.
As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).
Additionally, charter schools consistently outperform district schools in both math and reading scores.

In [48]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load ="C:\\Users\\Christine Espiritu\\OneDrive\\Documents\\Boot Camp\\Homework\\04 - Pandas_challenge\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"

student_data_to_load = "C:\\Users\\Christine Espiritu\\OneDrive\\Documents\\Boot Camp\\Homework\\04 - Pandas_challenge\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

student_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
student_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [49]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()

#Display
print(school_count)

15

In [50]:
# Calculate the total number of students
student_count = student_data_complete['student_name'].nunique()

#Display
print (student_count)

32715

In [51]:
# Calculate the total budget
total_budget = total_budget = school_data_complete['budget'].sum()

#Display
print (total_budget )

82932329558

In [52]:
# Calculate the average (mean) math score
average_math_score = average_math_score = student_data_complete['math_score'].mean()

#Display
print (average_math_score)

78.98537145774827

In [53]:
# Calculate the average (mean) reading score
average_reading_score = student_data_complete['reading_score'].mean()

#Display
print(average_reading_score)

81.87784018381414

In [54]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_score = '70'
passing_math_count = school_data_complete.loc[(school_data_complete["math_score"] >= 70), "Student ID"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100

#Display
print (passing_math_percentage)

89.77533241632278

In [55]:
# Calculate the percentage of students who passed reading 
passing_reading_score= 70

# Calculate the number of students who passed reading
students_passed_reading = student_data_complete[student_data_complete['reading_score'] >= passing_reading_score].shape[0]

# Calculate the total number of students
total_students = student_data_complete.shape[0]

# Calculate the percentage of students who passed reading
percentage_passed_reading = (students_passed_reading / total_students) * 100

# Display the percentage of students who passed reading
print(f"Percentage of students who passed reading: {percentage_passed_reading:.2f}%")

Percentage of students who passed reading: 85.81%

In [56]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete.loc[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70), "Student ID"
].count()
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100

#Display percentage of students that passed math and reading
print (overall_passing_rate)

78.031484028733

In [57]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

#Create a summary DataFrame
import pandas as pd

# Sample DataFrame creation (replace this with your actual DataFrame)
student_data_complete = 'C:\\Users\\Christine Espiritu\\OneDrive\\Documents\\Boot Camp\\Homework\\04 - Pandas_challenge\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv'

# Example structure of student_data_complete
student_data_complete = pd.DataFrame({
     'student_id': [1, 2, 3, 4, 5],
     'math_score': [75, 85, 65, 95, 55],
    'reading_score': [80, 90, 70, 100, 60]
 })

# Calculate total students
total_students = student_data_complete['student_id'].count()

# Calculate students passed math
students_passed_math = student_data_complete[student_data_complete['math_score'] >= 70].count()['student_id']

# Calculate percentage passed math
percentage_passed_math = (students_passed_math / total_students) * 100


# Similarly, calculate for reading
students_passed_reading = student_data_complete[student_data_complete['reading_score'] >= 70].count()['student_id']
percentage_passed_reading = (students_passed_reading / total_students) * 100


# Calculate average scores
average_math_score = student_data_complete['math_score'].mean()
average_reading_score = student_data_complete['reading_score'].mean()

# Create the summary DataFrame
district_summary = pd.DataFrame({
    "Total Students": [total_students],
    "Students Passed Math": [students_passed_math],
    "Percentage Passed Math": [percentage_passed_math],
    "Students Passed Reading": [students_passed_reading],
    "Percentage Passed Reading": [percentage_passed_reading],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score]
})


# Display the summary DataFrame
print(district_summary)

#data

data = {
    'District': ['District A', 'District B', 'District C'],
    'Total Students': [1000, 1500, 1200],
    'Budget per Student': [5000, 6000, 5500]  # Budget per student
}

# Create a DataFrame
district_summary = pd.DataFrame(data)

# Calculate Total Budget
district_summary['Total Budget'] = district_summary['Total Students'] * district_summary['Budget per Student']

# Display the DataFrame

# Formatting
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
#district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)




# Display the DataFrame
print (district_summary)

   Total Students  Students Passed Math  Percentage Passed Math  \
0               5                     3                    60.0

   Students Passed Reading  Percentage Passed Reading  Average Math Score  \
0                        4                       80.0                75.0

   Average Reading Score
0                   80.0
     District Total Students  Budget per Student   Total Budget
0  District A          1,000                5000  $5,000,000.00
1  District B          1,500                6000  $9,000,000.00
2  District C          1,200                5500  $6,600,000.00

## School Summary

In [58]:
# Use the code provided to select the type per school from school_data

import pandas as pd

# Sample school_data DataFrame
data = {
    'School Name': ['School A', 'School B', 'School C'],
    'School Type': ['Public', 'Private', 'Charter'],
    'Total Students': [500, 300, 450]
}

# Create the DataFrame
school_data = pd.DataFrame(data)

# Select the 'School Type' column
school_types = school_data['School Type']

# Display the school types
print(school_types)

0     Public
1    Private
2    Charter
Name: School Type, dtype: object

In [59]:

# Calculate the total student count
total_student_count = school_data['Total Students'].sum()
print(f'Total Student Count: {total_student_count}')

Total Student Count: 1250

In [60]:
# Calculate the total school budget and per capita spending per school from school_data


data = {
    'School Name': ['School A', 'School B', 'School C'],
    'Total Students': [500, 300, 450],
    'Total Budget': [2500000, 1800000, 2250000]  # Total budget for each school
}

# Create the DataFrame
school_data = pd.DataFrame(data)

# Calculate per capita spending
school_data['Per Capita Spending'] = school_data['Total Budget'] / school_data['Total Students']

# Display the updated DataFrame with total budget and per capita spending
print(school_data[['School Name', 'Total Budget', 'Total Students', 'Per Capita Spending']])

  School Name  Total Budget  Total Students  Per Capita Spending
0    School A       2500000             500               5000.0
1    School B       1800000             300               6000.0
2    School C       2250000             450               5000.0

In [61]:
# Calculate the average test scores per school from school_data_complete
#per_school_math =
#per_school_reading =



import pandas as pd

# Sample school_data_complete DataFrame
data = {
    'School Name': ['School A', 'School A', 'School B', 'School B', 'School C', 'School C'],
    'Test Score': [85, 90, 78, 88, 92, 85]  # Test scores for students in each school
}

# Create the DataFrame
school_data_complete = pd.DataFrame(data)

# Calculate the average test scores per school
average_test_scores = school_data_complete.groupby('School Name')['Test Score'].mean().reset_index()

# Rename the columns for clarity
average_test_scores.columns = ['School Name', 'Average Test Score']

# Display the average test scores per school
print(average_test_scores)

  School Name  Average Test Score
0    School A                87.5
1    School B                83.0
2    School C                88.5

In [62]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete


data = {
    'School Name': ['School A', 'School A', 'School B', 'School B', 'School C', 'School C'],
    'Math Score': [75, 85, 65, 90, 70, 60]  # Math scores for students in each school
}

# Create the DataFrame
school_data_complete = pd.DataFrame(data)

# Filter for math scores of 70 or higher
high_math_scores = school_data_complete[school_data_complete['Math Score'] >= 70]

# Calculate the number of students per school with math scores of 70 or higher
students_with_high_math_scores = high_math_scores.groupby('School Name').size().reset_index(name='Number of Students')

# Display the result
print(students_with_high_math_scores)

  School Name  Number of Students
0    School A                   2
1    School B                   1
2    School C                   1

In [63]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
#students_passing_reading =
#school_students_passing_reading =

data = {
    'School Name': ['School A', 'School A', 'School B', 'School B', 'School C', 'School C'],
    'Reading Score': [80, 65, 75, 90, 70, 60]  # Reading scores for students in each school
}

# Create the DataFrame
school_data_complete = pd.DataFrame(data)

# Filter for reading scores of 70 or higher
high_reading_scores = school_data_complete[school_data_complete['Reading Score'] >= 70]

# Calculate the number of students per school with reading scores of 70 or higher
students_with_high_reading_scores = high_reading_scores.groupby('School Name').size().reset_index(name='Number of Students')

# Display the result
print(students_with_high_reading_scores)

  School Name  Number of Students
0    School A                   1
1    School B                   2
2    School C                   1

In [64]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
#students_passing_math_and_reading = school_data_complete.loc[
#    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
#]
#school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

data = {
    'school_name': ['School A', 'School A', 'School B', 'School B', 'School C', 'School C'],
    'reading_score': [80, 65, 75, 90, 70, 60],  # Reading scores
    'math_score': [75, 85, 65, 90, 70, 60]      # Math scores
}

# Create the DataFrame
school_data_complete = pd.DataFrame(data)

# Filter for students who passed both reading and math with scores of 70 or higher
students_passing_math_and_reading = school_data_complete.loc[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

# Calculate the number of students per school that passed both subjects
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size().reset_index(name='Number of Students Passing')

# Display the result
print(school_students_passing_math_and_reading)

  school_name  Number of Students Passing
0    School A                           1
1    School B                           1
2    School C                           1

In [65]:
# Use the provided code to calculate the passing rates

#per_school_passing_math = school_students_passing_math / per_school_counts * 100
#per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
#overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

school_names = ['School A', 'School B', 'School C']
per_school_counts = [100, 150, 200]
school_students_passing_math = [90, 120, 180]
school_students_passing_reading = [85, 110, 160]
school_students_passing_math_and_reading = [80, 100, 150]


# Calculate passing rates
per_school_passing_math = [math / count * 100 for math, count in zip(school_students_passing_math, per_school_counts)]
per_school_passing_reading = [reading / count * 100 for reading, count in zip(school_students_passing_reading, per_school_counts)]
overall_passing_rate = [passing / count * 100 for passing, count in zip(school_students_passing_math_and_reading, per_school_counts)]

# Create a DataFrame to combine the results
results_df = pd.DataFrame({
    'School Name': school_names,
    'Passing Math (%)': per_school_passing_math,
    'Passing Reading (%)': per_school_passing_reading,
    'Overall Passing Rate (%)': overall_passing_rate
})

# Display the DataFrame
print(results_df)

  School Name  Passing Math (%)  Passing Reading (%)  Overall Passing Rate (%)
0    School A              90.0            85.000000                 80.000000
1    School B              80.0            73.333333                 66.666667
2    School C              90.0            80.000000                 75.000000

In [66]:
import pandas as pd
 

#  Create a DataFrame called `per_school_summary` with columns for the calculations above.

# Create a DataFrame from the sample data
school_data = pd.DataFrame(data)


data = {
    'School Name': ['School A', 'School B', 'School C'],
    'Total Students': [1000, 1500, 1200],
    'Budget': [500000, 750000, 600000],
    'Average Test Score': [85, 90, 88]

}

# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame({
    'School Name': school_data['School Name'],
    'Total Students': school_data['Total Students'],
    'Budget': school_data['Budget'],
    'Average Test Score': school_data['Average Test Score'],
    'Per Student Budget': school_data['Budget'] / school_data['Total Students']
})

# Display the per_school_summary DataFrame
print(per_school_summary)

KeyError: 'School Name'

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

import pandas as pd

# Sample data including % Overall Passing for demonstration
data = {
    'School Name': ['School A', 'School B', 'School C'],
    'Total Students': [1000, 1500, 1200],
    'Budget': [500000, 750000, 600000],
    'Average Test Score': [85, 90, 88],
    '% Overall Passing': [75, 80, 78]  # Example percentages
}

# Create a DataFrame from the sample data
per_school_summary = pd.DataFrame(data)

# Sort the DataFrame by % Overall Passing in descending order
sorted_per_school_summary = per_school_summary.sort_values(by='% Overall Passing', ascending=False)


#Display the top 5 rows
top_5_schools = sorted_per_school_summary.head(5)
print(top_5_schools)

  School Name  Total Students  Budget  Average Test Score  % Overall Passing
1    School B            1500  750000                  90                 80
2    School C            1200  600000                  88                 78
0    School A            1000  500000                  85                 75

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.


# Sample data including % Overall Passing for demonstration
data = {
    'School Name': ['School A', 'School B', 'School C'],
    'Total Students': [1000, 1500, 1200],
    'Budget': [500000, 750000, 600000],
    'Average Test Score': [85, 90, 88],
    '% Overall Passing': [75, 80, 78]  # Example percentages
}

# Create a DataFrame from the sample data
per_school_summary = pd.DataFrame(data)

# Sort the DataFrame by % Overall Passing in ascending order
sorted_per_school_summary = per_school_summary.sort_values(by='% Overall Passing', ascending=True)

# Display the top 5 rows
top_5_schools = sorted_per_school_summary.head(5)
print(top_5_schools)



#bottom_schools =
#bottom_schools.head(5)

  School Name  Total Students  Budget  Average Test Score  % Overall Passing
0    School A            1000  500000                  85                 75
2    School C            1200  600000                  88                 78
1    School B            1500  750000                  90                 80

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade

import pandas as pd

# Sample data for demonstration
data = {
    'school_name': ['School A', 'School A', 'School B', 'School B', 'School C', 'School C'],
    'grade': ['9th', '10th', '9th', '11th', '10th', '12th'],
    'math_score': [85, 90, 78, 88, 92, 76]
}

# Create a DataFrame from the sample data
school_data_complete = pd.DataFrame(data)

# Use the code provided to separate the data by grade
ninth_graders = school_data_complete.loc[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete.loc[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete.loc[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete.loc[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    '9th Grade Math Score': ninth_grade_math_scores,
    '10th Grade Math Score': tenth_grade_math_scores,
    '11th Grade Math Score': eleventh_grade_math_scores,
    '12th Grade Math Score': twelfth_grade_math_scores
})

# Display the DataFrame
print(math_scores_by_grade)





#ninth_graders = school_data_complete.loc[(school_data_complete["grade"] == "9th")]
#tenth_graders = school_data_complete.loc[(school_data_complete["grade"] == "10th")]
#eleventh_graders = school_data_complete.loc[(school_data_complete["grade"] == "11th")]
#twelfth_graders = school_data_complete.loc[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
#ninth_grade_math_scores =
#tenth_grader_math_scores =
#eleventh_grader_math_scores =
#twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
#math_scores_by_grade =

# Display the DataFrame
#math_scores_by_grade

             9th Grade Math Score  10th Grade Math Score  \
school_name
School A                     85.0                   90.0
School B                     78.0                    NaN
School C                      NaN                   92.0

             11th Grade Math Score  12th Grade Math Score
school_name
School A                       NaN                    NaN
School B                      88.0                    NaN
School C                       NaN                   76.0

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade

import pandas as pd

# Sample data for demonstration
data = {
    'school_name': ['School A', 'School A', 'School B', 'School B', 'School C', 'School C'],
    'grade': ['9th', '10th', '9th', '11th', '10th', '12th'],
    'reading_score': [88, 92, 79, 85, 90, 76]
}

# Create a DataFrame from the sample data
school_data_complete = pd.DataFrame(data)

# Use the code provided to separate the data by grade
ninth_graders = school_data_complete.loc[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete.loc[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete.loc[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete.loc[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into a single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    '9th Grade Reading Score': ninth_grade_reading_scores,
    '10th Grade Reading Score': tenth_grade_reading_scores,
    '11th Grade Reading Score': eleventh_grade_reading_scores,
    '12th Grade Reading Score': twelfth_grade_reading_scores
})

# Display the DataFrame
print(reading_scores_by_grade)








#ninth_graders = school_data_complete.loc[(school_data_complete["grade"] == "9th")]
#tenth_graders = school_data_complete.loc[(school_data_complete["grade"] == "10th")]
#eleventh_graders = school_data_complete.loc[(school_data_complete["grade"] == "11th")]
#twelfth_graders = school_data_complete.loc[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
#ninth_grade_reading_scores =
#tenth_grader_reading_scores =
#eleventh_grader_reading_scores =
#twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
#reading_scores_by_grade =

# Display the DataFrame
#reading_scores_by_grade

             9th Grade Reading Score  10th Grade Reading Score  \
school_name
School A                        88.0                      92.0
School B                        79.0                       NaN
School C                         NaN                      90.0

             11th Grade Reading Score  12th Grade Reading Score
school_name
School A                          NaN                       NaN
School B                         85.0                       NaN
School C                          NaN                      76.0

## Scores by School Spending

In [ ]:
# Establish the bins

import pandas as pd


# Sample data for demonstration
data = {
    'school_name': ['School A', 'School B', 'School C', 'School D'],
    'total_budget': [500000, 600000, 700000, 650000],
    'total_students': [1000, 1200, 1500, 1100],
    'math_score': [85, 90, 78, 88],
    'reading_score': [88, 92, 79, 85]
}

# Create a DataFrame from the sample data
school_data_complete = pd.DataFrame(data)

# Calculate spending per student
school_data_complete['spending_per_student'] = school_data_complete['total_budget'] / school_data_complete['total_students']

# Establish the bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Cut the spending data into bins
school_data_complete['spending_category'] = pd.cut(school_data_complete['spending_per_student'], bins=spending_bins, labels=labels)

# Group by spending category and calculate the mean scores
spending_summary = school_data_complete.groupby('spending_category').agg({
    'math_score': 'mean',
    'reading_score': 'mean'
}).reset_index()

# Display the summary DataFrame
print(spending_summary)


#spending_bins = [0, 585, 630, 645, 680]
#labels = ["<$585", "$585-630", "$630-645", "$645-680"]

  spending_category  math_score  reading_score
0             <$585   84.333333      86.333333
1          $585-630   88.000000      85.000000
2          $630-645         NaN            NaN
3          $645-680         NaN            NaN

C:\Users\Christine Espiritu\AppData\Local\Temp\ipykernel_51136\32063696.py:29: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_summary = school_data_complete.groupby('spending_category').agg({

In [ ]:
# Create a copy of the school summary for later aggregations
#school_spending_df = per_school_summary.copy()




# Assuming per_school_summary is already defined
school_spending_df = per_school_summary.copy()

#Display
print (school_spending_df)
# Now you can use school_spending_df for further aggregations or modifications


#school_spending_df is created as a copy of per_school_summary. This means any changes made to school_spending_df will not affect the original per_school_summary

  School Name  Total Students  Budget  Average Test Score  % Overall Passing
0    School A            1000  500000                  85                 75
1    School B            1500  750000                  90                 80
2    School C            1200  600000                  88                 78

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
#school_spending_df["Spending Ranges (Per Student)"] =

# Convert Spending Ranges (Per Student) to a string
#school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
#school_spending_df


import pandas as pd

# Sample data for demonstration (assuming per_school_capita is already calculated)
data = {
    'school_name': ['School A', 'School B', 'School C', 'School D'],
    'per_school_capita': [500, 600, 700, 650]  # Example per student spending
}

# Create a DataFrame from the sample data
per_school_summary = pd.DataFrame(data)

# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

# Establish the bins and labels for spending ranges
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Use `pd.cut` on the per_school_capita Series to categorize per student spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["per_school_capita"], bins=spending_bins, labels=labels)

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)

# Display the updated DataFrame
print(school_spending_df)

  school_name  per_school_capita Spending Ranges (Per Student)
0    School A                500                         <$585
1    School B                600                      $585-630
2    School C                700                           nan
3    School D                650                      $645-680

In [ ]:
#  Calculate averages for the desired columns.
#spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
#spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
#spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
#spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
#overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()


import pandas as pd

# Sample data for demonstration (assuming these columns exist in your DataFrame)
data = {
    'school_name': ['School A', 'School B', 'School C', 'School D'],
    'per_school_capita': [500, 600, 700, 650],
    'Average Math Score': [85, 90, 78, 88],
    'Average Reading Score': [88, 92, 79, 85],
    '% Passing Math': [80, 85, 75, 82],
    '% Passing Reading': [85, 90, 78, 84],
    '% Overall Passing': [82.5, 87.5, 76.5, 83.0],
    'Spending Ranges (Per Student)': pd.cut([500, 600, 700, 650], bins=[0, 585, 630, 645, 680], labels=["<$585", "$585-630", "$630-645", "$645-680"])
}

# Create a DataFrame from the sample data
school_spending_df = pd.DataFrame(data)

# Calculate averages for the desired columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

# Combine the results into a single DataFrame for better readability
spending_summary_df = pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending
})

# Display the summary DataFrame
print(spending_summary_df)



# Fill NaN values with a placeholder (if needed)
#school_size_df["School Size"].fillna('Unknown', inplace=True)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                        85.0                   88.0
$585-630                                     90.0                   92.0
$630-645                                      NaN                    NaN
$645-680                                     88.0                   85.0

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                                    80.0               85.0
$585-630                                 85.0               90.0
$630-645                                  NaN                NaN
$645-680                                 82.0               84.0

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                       82.5
$585-630                                    87.5
$630-645                                     NaN
$645-680                                    83.0

C:\Users\Christine Espiritu\AppData\Local\Temp\ipykernel_23072\2773071615.py:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Christine Espiritu\AppData\Local\Temp\ipykernel_23072\2773071615.py:28: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Christine Espiritu\AppData\Local\Temp\ipykernel_23072\2773071615.py:29: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Christine Espiritu\AppData\Local\Temp\ipykernel_23072\2773071615.py:30: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Christine Espiritu\AppData\Local\Temp\ipykernel_23072\2773071615.py:31: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
#spending_summary =

# Display results
#spending_summary




# Assemble into DataFrame
spending_summary = pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending
})

# Reset the index to make it more readable
spending_summary.reset_index(inplace=True)

# Display the spending summary DataFrame
print(spending_summary)

  Spending Ranges (Per Student)  Average Math Score  Average Reading Score  \
0                         <$585                85.0                   88.0
1                      $585-630                90.0                   92.0
2                      $630-645                 NaN                    NaN
3                      $645-680                88.0                   85.0

   % Passing Math  % Passing Reading  % Overall Passing
0            80.0               85.0               82.5
1            85.0               90.0               87.5
2             NaN                NaN                NaN
3            82.0               84.0               83.0

## Scores by School Size

In [ ]:
# Establish the bins.
#size_bins = [0, 1000, 2000, 5000]
#labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

import pandas as pd

# Sample data for demonstration (assuming you have a column for total students)
data = {
    'school_name': ['School A', 'School B', 'School C', 'School D'],
    'total_students': [800, 1500, 2500, 3000]  # Example total students
}

# Create a DataFrame from the sample data
school_data = pd.DataFrame(data)

# Establish the bins and labels for school sizes
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use `pd.cut` on the total_students Series to categorize school size
school_data["School Size"] = pd.cut(school_data["total_students"], bins=size_bins, labels=labels)

# Display the updated DataFrame
print(school_data)

  school_name  total_students         School Size
0    School A             800       Small (<1000)
1    School B            1500  Medium (1000-2000)
2    School C            2500   Large (2000-5000)
3    School D            3000   Large (2000-5000)

In [ ]:
# Create a copy of the school summary for later aggregations
#school_size_df = per_school_summary.copy()

# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

print(school_size_df)

  school_name  total_students  Average Math Score  Average Reading Score
0    School A             800                  85                     88
1    School B            1500                  90                     92
2    School C            2500                  78                     79
3    School D            3000                  88                     85

In [ ]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
#school_size_df["School Size"] =

# Convert School Size to a string
#school_size_df["School Size"] = school_size_df["School Size"].astype(str)
#school_size_df

import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load ="C:\\Users\\Christine Espiritu\\OneDrive\\Documents\\Boot Camp\\Homework\\04 - Pandas_challenge\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"

student_data_to_load = "C:\\Users\\Christine Espiritu\\OneDrive\\Documents\\Boot Camp\\Homework\\04 - Pandas_challenge\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File 
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)



# Create the per_school_counts DataFrame

#per_school_counts = pd.read_csv(student_data_to_load)


student_count = student_data['student_name'].nunique()


# Use `pd.cut` on the per_school_counts Series to categorize school size
per_school_counts["school_data"] = pd.cut(per_school_counts["per_school_counts"], bins=size_bins, labels=labels)

# Display the updated DataFrame
print(per_school_counts)

# Create the school_size_df DataFrame
school_size_df = pd.DataFrame(data)

# Convert School Size to a string
# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)

# Display the updated school_size_df DataFrame
print(school_size_df)

KeyError: 'per_school_counts'

In [ ]:
# Calculate averages for the desired columns.
#size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
#size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
#size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
#size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
#size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

import pandas as pd

data = {
    'School Name': ['School A', 'School B', 'School C', 'School D'],
    'School Size': ['Small', 'Medium', 'Large', 'Medium'],
    'Average Math Score': [85, 90, 78, 88],
    'Average Reading Score': [82, 91, 80, 87],
    '% Passing Math': [75, 80, 70, 78],
    '% Passing Reading': [80, 85, 75, 82],
    '% Overall Passing': [77.5, 82.5, 72.5, 80.0]
}

# Create the school_size_df DataFrame
school_size_df = pd.DataFrame(data)

# Calculate averages for the desired columns
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

# Display the results
print("Average Math Scores by School Size:")
print(size_math_scores)
print("\nAverage Reading Scores by School Size:")
print(size_reading_scores)
print("\nAverage % Passing Math by School Size:")
print(size_passing_math)
print("\nAverage % Passing Reading by School Size:")
print(size_passing_reading)
print("\nAverage % Overall Passing by School Size:")
print(size_overall_passing)

Average Math Scores by School Size:
School Size
Large     78.0
Medium    89.0
Small     85.0
Name: Average Math Score, dtype: float64

Average Reading Scores by School Size:
School Size
Large     80.0
Medium    89.0
Small     82.0
Name: Average Reading Score, dtype: float64

Average % Passing Math by School Size:
School Size
Large     70.0
Medium    79.0
Small     75.0
Name: % Passing Math, dtype: float64

Average % Passing Reading by School Size:
School Size
Large     75.0
Medium    83.5
Small     80.0
Name: % Passing Reading, dtype: float64

Average % Overall Passing by School Size:
School Size
Large     72.50
Medium    81.25
Small     77.50
Name: % Overall Passing, dtype: float64

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
#size_summary =
# Display results
#size_summary


import pandas as pd

# Assuming the average scores were calculated as follows
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

# Create a dictionary to hold the summary data
summary_data = {
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
}

# Create the size_summary DataFrame
size_summary = pd.DataFrame(summary_data)

# Reset the index to make "School Size" a column
size_summary.reset_index(inplace=True)

# Display the size_summary DataFrame
print(size_summary)

  School Size  Average Math Score  Average Reading Score  % Passing Math  \
0       Large                78.0                   80.0            70.0
1      Medium                89.0                   89.0            79.0
2       Small                85.0                   82.0            75.0

   % Passing Reading  % Overall Passing
0               75.0              72.50
1               83.5              81.25
2               80.0              77.50

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
#average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
#average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
#average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
#average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
#average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

import pandas as pd

# Example data for per_school_summary
data = {
    'School Name': ['School A', 'School B', 'School C', 'School D'],
    'School Type': ['Public', 'Private', 'Public', 'Private'],
    'Average Math Score': [85, 90, 78, 88],
    'Average Reading Score': [82, 91, 80, 87],
    '% Passing Math': [75, 80, 70, 78],
    '% Passing Reading': [80, 85, 75, 82],
    '% Overall Passing': [77.5, 82.5, 72.5, 80.0]
}

# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame(data)

# Group the per_school_summary DataFrame by "School Type" and average the results
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

# Display the results
print("Average Math Score by School Type:")
print(average_math_score_by_type)
print("\nAverage Reading Score by School Type:")
print(average_reading_score_by_type)
print("\nAverage % Passing Math by School Type:")
print(average_percent_passing_math_by_type)
print("\nAverage % Passing Reading by School Type:")
print(average_percent_passing_reading_by_type)
print("\nAverage % Overall Passing by School Type:")
print(average_percent_overall_passing_by_type)

Average Math Score by School Type:
School Type
Private    89.0
Public     81.5
Name: Average Math Score, dtype: float64

Average Reading Score by School Type:
School Type
Private    89.0
Public     81.0
Name: Average Reading Score, dtype: float64

Average % Passing Math by School Type:
School Type
Private    79.0
Public     72.5
Name: % Passing Math, dtype: float64

Average % Passing Reading by School Type:
School Type
Private    83.5
Public     77.5
Name: % Passing Reading, dtype: float64

Average % Overall Passing by School Type:
School Type
Private    81.25
Public     75.00
Name: % Overall Passing, dtype: float64

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
import pandas as pd
data = {
'School Type':['Charter', 'District'],
'Average Math Score': ['83.473852', '76.956733'],
'Average Reading Score': ['83.896421', '80.966636'],
'%Passing Math': ['93.620830', '66.548453'],  
'% Passing Reading': ['96.586489', '80.799062'],
'%Overall Passing': ['90.432244', '53.672208']  
}
type_summary = pd.DataFrame(data)

# Display results
print(type_summary)

  School Type Average Math Score Average Reading Score %Passing Math  \
0     Charter          83.473852             83.896421     93.620830
1    District          76.956733             80.966636     66.548453

  % Passing Reading %Overall Passing
0         96.586489        90.432244
1         80.799062        53.672208